/* CSS VARS  */

/* CSS VARS  */

a {
  color: black;
  text-decoration: none;
}

/* HEADER */

header {
  margin-bottom: 30px;
}

header ul li {
  list-style-type: none;
  margin: 0 10px;
  padding: 5px;
}

/* CREATE_PROJECT */

.project_categories_list {
  height: 100px;
}

.new_project_form div {
  margin-bottom: 20px;
}

/* CONSULT_PROJECT */

.consult_projects_picture {
  height: 200px;
}

/* PROJECT */

.project form input {
  margin-bottom: 20px;
}

.project form button {
  margin-bottom: 20px;
}

.project_picture {
  max-width: 350px;
}

/* CONSULT_CATEGORIES */

.consult_categories_categories_list {
  margin-left: 30px;
}
